<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111815473464-eqsuufgj3gt4dor9fkdl0bn68ar8a2gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111815473464-eqsuufgj3gt4dor9fkdl0bn68ar8a2gg</string>
	<key>API_KEY</key>
	<string>AIzaSyC24WW46f7TFo8IP-qvqWBgWxiJTiNJp_A</string>
	<key>GCM_SENDER_ID</key>
	<string>111815473464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Agendai</string>
	<key>PROJECT_ID</key>
	<string>agendai-6633c</string>
	<key>STORAGE_BUCKET</key>
	<string>agendai-6633c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111815473464:ios:339807c15a96ef479269cd</string>
</dict>
</plist>